{% extends "portal/base.html" %}
{% block title %}Choose a new password{% endblock %}
{% block content %}
{% if validlink %}
<h1>Choose a new password</h1>
<form method="post" class="stack">{% csrf_token %}
  {{ form.non_field_errors }}
  <label>New password {{ form.new_password1 }} {{ form.new_password1.errors }}</label>
  <label>Again {{ form.new_password2 }} {{ form.new_password2.errors }}</label>
  <button>Save the new password</button>
</form>
{% else %}
<h1>This link doesn't work</h1>
<p>It has been used or has expired. <a href="{% url 'password_reset' %}">Ask for a new one</a>.</p>
{% endif %}
{% endblock %}
